<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>At-compare by axetroy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
  <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="app">
<section class="page-header" style="margin:0 0 20px">
  <h1 class="project-name">At-compare</h1>
  <h2 class="project-tagline">Angular表单对比的指令</h2>
  <a href="https://github.com/axetroy/at-compare" class="btn">View on GitHub</a>
  <a href="https://github.com/axetroy/at-compare/zipball/master" class="btn">Download .zip</a>
  <a href="https://github.com/axetroy/at-compare/tarball/master" class="btn">Download .tar.gz</a>
</section>


<div class="container" ng-controller="defaultCtrl">
  <h1>重置密码/注册账号等</h1>
  <div class="row">
    <div class="col-sm-6">

      <pre>
        新密码不能和旧密码相同：at-compare="password!==oldpassword"
        两次新密码不一致：at-compare="passwordConfirm===password"
      </pre>

      <form name="form1" class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">旧密码</label>
          <div class="col-sm-10">
            <input type="text" name="oldpassword" ng-model="d.form1.oldpwd" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">新密码</label>
          <div class="col-sm-10">
            <input type="text" at-compare="password!==oldpassword" name="password" ng-model="d.form1.newpwd" class="form-control" placeholder="旧密码不能和新密码相同">
            <div ng-show="form1.password.$invalid">
              <p class="help-block" ng-show="form1.password.$error['password!==oldpassword']">
                新密码不能和旧密码一致
              </p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">确认新密码</label>
          <div class="col-sm-10">
            <input type="text" at-compare="passwordConfirm===password" name="passwordConfirm" ng-model="d.form1.pwdConfirm" class="form-control" placeholder="两次新密码要一致">
            <div ng-show="form1.passwordConfirm.$invalid">
              <p class="help-block" ng-show="form1.passwordConfirm.$error['passwordConfirm===password']">
                两次密码不一致
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-sm-6">
      新密码$error：
      <pre>
        {{form1.password.$error}}
      </pre>

      确认密码$error：
      <pre>
        {{form1.passwordConfirm.$error}}
      </pre>
    </div>

  </div>

  <hr>

  <h1>原价/折后价关系</h1>
  <div class="row">
    <div class="col-sm-6">

      <pre>
        原价>=最低价100元，at-compare="originPrice>=100"
        折后价>=原价，at-compare="price>=originPrice"
      </pre>

      <form name="form2" class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">原价</label>
          <div class="col-sm-10">
            <input type="text" at-compare="originPrice>=100" name="originPrice" ng-model="d.form2.originPrice" class="form-control" placeholder="原价必须大于最低价：100">
            <div ng-show="form2.originPrice.$invalid">
              <p class="help-block" ng-show="form2.originPrice.$error['originPrice>=100']">
                原价不能设置小于100元
              </p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">折后价</label>
          <div class="col-sm-10">
            <input type="text" at-compare="price>=originPrice" name="price" ng-model="d.form2.price" class="form-control" placeholder="折后价不能小于原价">
            <div ng-show="form2.price.$invalid">
              <p class="help-block" ng-show="form2.price.$error['price>=originPrice']">
                折后价必须必须大于原价
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-sm-6">
      原价$error：
      <pre>
        {{form2.originPrice.$error}}
      </pre>

      折后价$error：
      <pre>
        {{form2.price.$error}}
      </pre>
    </div>

  </div>

  <hr>

  <h1>余额与汇款</h1>
  <div class="row">
    <div class="col-sm-6">

      <pre>
        转账金额不能大于余额
        at-compare="originPrice<=total in $scope"

        余额：{{total}}

        控制器中
        // 转账余额
        $scope.total = 1099;
      </pre>

      <form name="form3" class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">转账金额</label>
          <div class="col-sm-10">
            <input type="text" at-compare="money<=total in $scope" name="money" ng-model="d.form3.money" class="form-control" placeholder="转账金额不能大于余额：{{total}}">
            <div ng-show="form3.money.$invalid">
              <p class="help-block" ng-show="form3.money.$error['money<=total']">
                转账金额不能大于余额
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-sm-6">
      原价$error：
      <pre>
        {{form3.money.$error}}
      </pre>
    </div>

  </div>

  <footer class="site-footer">
    <span class="site-footer-owner"><a href="https://github.com/axetroy/at-compare">At-compare</a> is maintained by <a href="https://github.com/axetroy">axetroy</a>.</span>

    <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
  </footer>

</div>



<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/at-compare/at-compare.js"></script>
<script src="app/app.js"></script>
</body>
</html>
